@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: red;
}

#column-2 {
  background: yellow;
}

#column-3 {
  background: blue;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: darkgray;
  }

  #column-1 {
    background-color: pink;
  }

  #column-2 {
    background-color: lightyellow;
  }

  #column-3 {
    background-color: lightblue;
    width: 100%;
  }

  footer {
    background-color: darkgray;
  }
  
  .col-3 {
    width: 50%;
  }
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: slategray;
  }

  #column-1 {
    background-color: pink;
  }

  #column-2 {
    background-color: gold;
  }

  #column-3 {
    background-color: darkblue;
    width: 33.3%;
  }

  footer {
    background-color: slategray;
  }
  
  .col-3 {
    width: 33.3%;
  }
}
